<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Campaign 1</h4>
      <p>"Margaret" by Jason Webley and friends
by Jason Webley

An album based on the life and writings of Margaret Rucker, an Everett pioneer whose scrapbook was found in a dumpster in SanFrancisco</p>
    </li>
    <li id="section-2">
      <h4>Campaign 2</h4>
      <p>SAVE A DANCE!
by Nikki Feirt Atkins

Help SAVE A DANCE & preserve great American musical theater choreography</p>
    </li>
    <li id="section-3">
      <h4>Campaign 3</h4>
      <p>David Bull is building a new shop in Tokyo
by Mokuhankan Woodblock Prints

Woodblock printmaker David Bull needs some startup assistance for the new Asakusa 'Print Party' location!</p>
    </li>
    <li id="section-4">
      <h4>Campaign 4</h4>
      <p> Slap .45
by Gnarwhal Studios

A Wild West slap duel for three to seven players</p>
    </li>
  </ul>
</div>
